USE [Lab2_task]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 4/5/2025 6:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DNAME] [varchar](50) NULL,
	[DNUMBER] [int] NOT NULL,
	[MGRSNN] [int] NULL,
	[MGRSTARTDATE] [date] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DNUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPENDENT]    Script Date: 4/5/2025 6:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPENDENT](
	[ESSN] [int] NOT NULL,
	[DEPARTMENT_NAME] [varchar](50) NOT NULL,
	[SEX] [char](1) NULL,
	[BDATE] [date] NULL,
	[RELATIONSHIP] [varchar](50) NULL,
 CONSTRAINT [PK_DEPENDENT] PRIMARY KEY CLUSTERED 
(
	[ESSN] ASC,
	[DEPARTMENT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPT_LOCATION]    Script Date: 4/5/2025 6:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPT_LOCATION](
	[DNUMBER] [int] NOT NULL,
	[DLOCATION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEPT_LOCATION] PRIMARY KEY CLUSTERED 
(
	[DNUMBER] ASC,
	[DLOCATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/5/2025 6:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[SSN] [int] NOT NULL,
	[FNAME] [varchar](50) NULL,
	[LNAME] [varchar](50) NULL,
	[BDATE] [date] NULL,
	[ADDRESS] [nchar](10) NULL,
	[SEX] [varchar](1) NULL,
	[SALARY] [decimal](10, 2) NULL,
	[SUPERSSN] [int] NULL,
	[DNO] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 4/5/2025 6:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT](
	[PNAME] [varchar](50) NOT NULL,
	[PNUMBER] [int] NOT NULL,
	[PLOCATION] [varchar](50) NULL,
	[DNUM] [int] NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[PNUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKS_ON]    Script Date: 4/5/2025 6:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKS_ON](
	[ESSN] [int] NOT NULL,
	[PNO] [int] NOT NULL,
	[HOURS] [int] NULL,
 CONSTRAINT [PK_WORKS_ON] PRIMARY KEY CLUSTERED 
(
	[ESSN] ASC,
	[PNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Employee] FOREIGN KEY([MGRSNN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Employee]
GO
ALTER TABLE [dbo].[DEPENDENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPENDENT_Employee] FOREIGN KEY([ESSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[DEPENDENT] CHECK CONSTRAINT [FK_DEPENDENT_Employee]
GO
ALTER TABLE [dbo].[DEPT_LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_DEPT_LOCATION_Department] FOREIGN KEY([DNUMBER])
REFERENCES [dbo].[Department] ([DNUMBER])
GO
ALTER TABLE [dbo].[DEPT_LOCATION] CHECK CONSTRAINT [FK_DEPT_LOCATION_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DNO])
REFERENCES [dbo].[Department] ([DNUMBER])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Employee] FOREIGN KEY([SUPERSSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Employee1] FOREIGN KEY([SUPERSSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Employee1]
GO
ALTER TABLE [dbo].[PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_Department] FOREIGN KEY([PNUMBER])
REFERENCES [dbo].[Department] ([DNUMBER])
GO
ALTER TABLE [dbo].[PROJECT] CHECK CONSTRAINT [FK_PROJECT_Department]
GO
ALTER TABLE [dbo].[WORKS_ON]  WITH CHECK ADD  CONSTRAINT [FK_WORKS_ON_Employee] FOREIGN KEY([ESSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[WORKS_ON] CHECK CONSTRAINT [FK_WORKS_ON_Employee]
GO
ALTER TABLE [dbo].[WORKS_ON]  WITH CHECK ADD  CONSTRAINT [FK_WORKS_ON_PROJECT] FOREIGN KEY([PNO])
REFERENCES [dbo].[PROJECT] ([PNUMBER])
GO
ALTER TABLE [dbo].[WORKS_ON] CHECK CONSTRAINT [FK_WORKS_ON_PROJECT]
GO
